html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-image: url(./images/bg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: darkgrey;
  // background: linear-gradient(#141e30, #243b55);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
